<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268470538505-b83qgv2dhocnfofnmuratqcd38afu7fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268470538505-b83qgv2dhocnfofnmuratqcd38afu7fn</string>
	<key>API_KEY</key>
	<string>AIzaSyBGrIU7vbaZIwOYAoCJfD8VO-wMYtLerLk</string>
	<key>GCM_SENDER_ID</key>
	<string>268470538505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.peterfriese.WrappingExistingAPIsInCombine</string>
	<key>PROJECT_ID</key>
	<string>swiftcombinebookfirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcombinebookfirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268470538505:ios:9305198454b2bebf31c3d8</string>
</dict>
</plist>